.hero {
  &__cta {
    font-family: $font-pixel;
    font-size: $p-desktop;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    padding: .5rem 1rem;
    background-color: $color-buttons;
    position: relative;
    border-top: 10px solid $border-color;
    border-bottom: 10px solid $border-color;

    &::before,
    &::after {
      content: '';
      // clip-path: polygon(25% 50%, 50% 50%, 50% 25%, 75% 25%, 75% 75%, 25% 75%);
      clip-path: polygon(0% 23.25%, 23.5% 23.25%, 23.5% 0%, 100% 0%, 100% 100%, 23.5% 100%, 23.5% 80.81%, 0% 80.81%);
      background-color: $color-buttons;
      position: absolute;
      top: -10px;
      left: -50%;
      width: 50%;
      height: 100%;
      transform-origin: center;
      border-left: 10px solid $border-color;
      border-top: 10px solid $border-color;
      border-bottom: 10px solid $border-color;
    }

    &::after {
      left: auto;
      right: -50%;
      // Mirror the shape
      transform: scale(-1, 1);
    }
  }
}