@font-face {
  font-family: 'Minecraft';
  src: url(../../assets/fonts/Minecraft.ttf) format('truetype');
}
@font-face {
  font-family: 'Clash display';
  src: url(../../assets/fonts/ClashDisplay-Variable.ttf) format('truetype');
}
@font-face {
  font-family: 'Karmatic arcade';
  src: url(../../assets/fonts/ka1.ttf) format('truetype');
}