@import 'utils/variables';
@import 'components/type';
@import 'components/buttons';
@import 'components/swiper';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #030914;
  color: white;
}

p {
  font-family: $font-clash;
  font-size: $p-size;
  line-height: 1.4;
}

//hero
.hero {
  position: relative;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: $color-background;
  }

  &__logo {
    position: absolute;
    top: 10rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;

    @media (max-width: 768px) {
      width: 90%;

      &__logo {
        @media (max-width: 768px) {
          width: 90%;
        }
      }
    }
  }

  &__span {
    position: absolute;
    top: 20rem;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: $font-pixel;
    font-size: $p-size;
    text-transform: uppercase;
    color: white;
    margin-top: 2rem;
    text-align: center;
    z-index: 999;
  }

  &__background,
  &__batiments {
    width: 100vw;
  }

  &__pixel-transition {
    position: absolute;
    bottom: -40%;
    width: 100%;
    height: 100%;
    background-image: url(../assets/images/pixel-transition.png);
    background-repeat: repeat-x;
    background-size: contain;
    transform: rotate(180deg);
    z-index: -1;

    @media (max-width: 768px) {
      bottom: -20%;
    }
  }

  &__parallax {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    z-index: 0;
  }

  &__bg-buildings {
    position: relative;
    height: 100%;

    &-back {
      position: absolute;
      bottom: 19.5%;
      opacity: 0.5;
      left: 20%;
      background-image: url(../assets/images/background-buildings.png);
      background-repeat: repeat-x;
      // background-size: cover;
      height: 55%;
      width: 100%;
      z-index: 1;
    }

    &-front {
      position: absolute;
      bottom: 18.5%;
      background-image: url(../assets/images/background-buildings.png);
      background-repeat: repeat-x;
      // background-size: cover;
      height: 45%;
      width: 100%;
      z-index: 2;
    }
  }

  &__front-buildings {
    position: absolute;
    bottom: 19.5%;
    left: 0;
    background-image: url(../assets/images/front-buildings.png);
    background-repeat: repeat-x;
    background-size: cover;
    height: 30%;
    width: 100%;
    z-index: 5;
  }

  &__floor {
    height: 15%;
    width: 100%;
    position: absolute;
    bottom: 50px;
    background-color: $color-floor;
    box-shadow: 0px 5px 0px 5px $border-color;
    z-index: 5;
  }
}

.hero__background,
.hero__batiments {
  width: 100vw;
}

.intro {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 25%;
  position: relative;

  @media (max-width: 768px) {
    margin: 1rem;
    margin-top: 40%;
  }

  h2 {
    margin: 1rem 0;
    width: 18ch;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &-titre {

    &__blanc {
      font-family: $font-pixel;
      font-size: $h2-size;
      color: white;
      text-transform: uppercase;
      display: block;
      min-height: 4em;
    }
  }

  &-text {
    font-family: $font-clash;
    font-size: $p-size;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 4rem;

    @media (max-width: 768px) {
      align-items: center;
      justify-content: center;
      margin-right: 0;
      margin-bottom: 2rem;
    }

    p {
      width: 26ch;

      @media (max-width: 768px) {
        width: 100%;
      }
    }

    &__grind {
      font-family: $font-pixel;
      text-transform: uppercase;
      color: $color-buttons;
    }
  }
}

.info {
  background-color: $main-color;
  padding: 2rem 15%;

  @media (max-width: 768px) {
    padding: 1rem;
  }

  &__title {
    font-family: $font-clash;
    font-size: clamp(2rem, 1.5rem + 1.6667vw, 3rem);
    margin-bottom: 2rem;
    margin-top: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.accordion {

  &__item {
    width: 40%;
    margin-bottom: 3rem;
    border-bottom: 1px solid black;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &__header {
    cursor: pointer;
    padding: .5rem;

    h3 {
      font-family: $font-pixel;
      font-size: $h3-size;
      text-transform: uppercase;
      margin: 0;
      color: #000;
    }

    span {
      font-family: $font-clash;
      font-size: $p-size;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding: 0 .5rem;

    &--active {
      max-height: 1000px;
    }
  }
}

.cross {
  width: 15px;
  height: 15px;
  transition: transform 0.3s ease;

  &--active {
    transform: rotate(45deg);
    transition: transform 0.3s ease;
  }
}

//personnages
.leveling {
  background-color: #2C4C87;
  padding: 3rem;

  @media (max-width: 768px) {
    padding: 1rem;
    padding-top: 4rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  &__content {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    width: 60%;

    @media (max-width: 1400px) {
      // width: 100%;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
  }

  &__img {
    max-width: 400px;
    height: auto;

    @media (max-width: 768px) {
      max-width: 100%;
    }
  }

  &__text {
    margin-top: 2rem;

    @media (max-width: 1024px) {
      margin: 0;
      width: 40ch;
    }
  }

  &__title {
    font-family: $font-pixel;
    font-size: $h2-size;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 1rem;
    display: block;
    min-height: 2em;
    max-width: 80%;

    @media (max-width: 768px) {
      max-width: 100%;
    }
  }

  &__desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: $font-clash;
    font-size: $p-size;

    @media (max-width: 768px) {
      align-items: center;
    }
  }

  &__h3 {
    font-family: $font-pixel;
    font-size: $h3-size;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 1rem;
  }

  &__p {
    font-family: $font-clash;
    font-size: $p-size;
    margin: 0;

    @media (max-width: 768px) {
      max-width: 25ch;
    }
  }

  &__background {
    position: relative;
    width: 100%;
    z-index: -1000;
    background-image: url(../assets/images/pixel_fond.svg);
    background-repeat: repeat-x;
    top: -150px;
    height: 400px;
  }

}

.mob__contenu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;

  @media (max-width: 1400px) {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  &--bonus,
  &--malus,
  &--boss {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    &-image {
      width: 25em;
      height: auto;

      @media (max-width: 768px) {
        width: 80%;
      }
    }

    &-texte {
      max-width: 20ch;
      margin: 0;

      @media (max-width: 1024px) {
        max-width: 25ch;
        padding: 0;
      }

      @media (max-width: 1400px) {
        max-width: 40ch;
      }
    }
  }
}

.image {
  position: relative;
  margin-top: 6rem;

  @media (max-width: 768px) {
    margin-top: 3rem;
  }

  &__ctn {
    width: 100%;
    height: 100px;
    overflow-x: hidden;
    position: absolute;
    z-index: -1;
    top: -3rem;

    @media (max-width: 768px) {
      top: -3rem;
    }
  }

  &__titre {
    position: relative;
    display: flex;
    align-items: center;
    width: 200%;
    gap: 2rem;
    overflow: hidden;

    animation: move 20s linear infinite;

    @media (max-width: 768px) {
      gap: 1rem;
      width: 400%;
    }

    @media (max-width: 1024px) and (min-width: 769px) {
      gap: 1.5rem;
      width: 300%;
    }

    &--titre {
      background-image: url(../assets/images/GRIND.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      height: 100px;
      width: 450px;
    }

    &--croix {
      background-image: url(../assets/images/white-cross.svg);
      width: 80px;
      height: 80px;
      color: white;
      background-repeat: no-repeat;
      background-position: center center;
      animation: rotate 10s linear infinite;
    }
  }

  &__texte {
    margin: 3rem;
    display: flex;
    justify-content: space-between;
    font-size: clamp(0.6875rem, 0.5rem + 0.625vw, 1.0625rem);
    font-family: $font-clash;

    @media (max-width: 768px) {
      margin: 1rem;
    }

    &--gauche {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
    }

    &--droite {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 0.5rem;
    }
  }
}

.jeu {
  background: linear-gradient(#030914 0%, #1b4085 50%, #4879d4 100%);

  &__etoiles {
    background-image: url(../assets/images/etoile.svg);

    &--titre {
      font-family: $font-pixel;
      font-size: 45px;
      padding-top: 120px;
      margin-left: 50px;
      text-transform: uppercase;

      @media (max-width: 768px) {
        margin: 1rem;
      }
    }
  }

  &__footer {
    margin-top: 4rem;
    overflow: hidden;

    &--titre {
      margin-left: 50px;
      font-size: 23px;
      font-family: $font-clash;

      @media (max-width: 768px) {
        margin: 1rem;
      }
    }

    &--gris {
      color: #E9EFFA;
      font-weight: bold;
      opacity: 0.6;
      margin-left: 50px;

      @media (max-width: 768px) {
        margin: 1rem;
      }
    }

    &--credits {
      margin-left: 50px;

      @media (max-width: 768px) {
        margin: 1rem;
      }
    }

    &--img {
      position: relative;
      display: flex;
      align-items: center;
      width: 200%;
      height: fit-content;
      gap: 2rem;

      animation: move 10s linear infinite;

      &--titre {
        background-image: url(../assets/images/GRIND_vide.svg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        height: fit-content;
        width: 600px;
        padding-bottom: 60px;

      }

      &--croix {
        background-image: url(../assets/images/croix_vide.svg);
        width: 200px;
        height: 50px;
        color: white;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        animation: rotate 10s linear infinite;
      }
    }
  }

  &__cta {
    margin-left: 50px;

    @media (max-width: 768px) {
      margin: 1rem;
      width: calc(100% - 2rem);
    }
  }
}

@keyframes move {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-43.5%);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-180deg);
  }
}