@import 'utils/variables';
@import 'components/type';
@import 'components/buttons';

body {
  margin: 0;
  background-color: #030914;
  color: white;
}

p {
  font-family: $font-clash;
}

//hero
.hero {
  position: relative;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: $color-background;
  }

  &__logo {
    @media (max-width: 768px) {
      width: 90%;
    }
  }

  &__span {
    font-family: $font-pixel;
    font-size: $p-size;
    text-transform: uppercase;
    color: white;
    margin-top: 2rem;
    text-align: center;
  }

  &__background,
  &__batiments {
    width: 100vw;
  }

  &__pixel-transition {
    position: absolute;
    bottom: -40%;
    width: 100%;
    height: 100%;
    background-image: url(../assets/images/pixel-transition.png);
    background-repeat: repeat-x;
    background-size: contain;
    transform: rotate(180deg);
    z-index: -1;
  }
}

.hero__background,
.hero__batiments {
  width: 100vw;
}

.intro {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 25%;
  position: relative;

  @media (max-width: 768px) {
    margin: 0 5%;
  }

  h2 {
    margin: 1rem 0;
    width: 18ch;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &-titre {

    &__blanc {
      font-family: $font-pixel;
      font-size: $h2-size;
      color: white;
      text-transform: uppercase;
    }

    &__transparent {
      font-family: $font-pixel;
      font-size: $h2-size;
      text-transform: uppercase;
      color: white;
    }
  }

  &-text {
    font-family: $font-clash;
    font-size: $p-size;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 4rem;
    // margin-right: 20%;

    @media (max-width: 768px) {
      align-items: center;
      justify-content: center;
      margin-right: 0;
    }

    p {
      width: 26ch;

      @media (max-width: 768px) {
        width: 100%;
      }
    }

    &__grind {
      font-family: $font-pixel;
      text-transform: uppercase;
      color: $color-buttons;
    }
  }
}

.cross {
  width: 15px;
  height: 15px;
}

//personnages
.personnages {
  background-color: #2C4C87;
  padding-bottom: 4rem;

  &__titre {
    font-family: $font-pixel;
    font-size: 24px;
  }
}

.personnages1,
.personnages2,
.personnages3,
.personnages4 {
  &__contenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;

    &--image {
      width: 350px;
      height: auto;
    }

    &--texte {
      margin-left: 60px;
      margin-right: 50px;

      &-texte {
        margin: 0 40px;
      }

      &-titre {
        text-align: center;
        color: black;
        font-family: $font-pixel;
        font-size: 12px;
      }
    }
  }
}

.image {
  &__ctn {
    overflow: hidden;
    width: 100%;
    height: 100px;
  }

  &__titre {
    position: relative;
    display: flex;
    align-items: center;
    width: 200%;
    gap: 2rem;

    animation: move 10s linear infinite;

    &--titre {
      background-image: url(../assets/images/GRIND.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      height: 100px;
      width: 450px;
    }

    &--croix {
      background-image: url(../assets/images/white-cross.svg);
      width: 80px;
      height: 80px;
      color: white;
      background-repeat: no-repeat;
      background-position: center center;

      animation: rotate 5s linear infinite;
    }
  }
}

@keyframes move {
  0% {
    left: 0;
  }

  100% {
    left: -90%;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(180deg);
  }
}