@import 'utils/variables';
@import 'components/type';
@import 'components/buttons';

body {
    margin: 0;
    background-color: #030914;
    color: white;
}

p {
    font-family: $font-clash;
    font-size: clamp(1rem, 0.4693rem + 1.8868vw, 1.375rem);
    line-height: 140%;
}

h2 {
    letter-spacing: 0.20em;
    font-size: clamp(2rem, 0.5849rem + 5.0314vw, 3rem);
}

h3 {
    font-size: clamp(1.4375rem, 0.4646rem + 3.4591vw, 2.125rem);
}

h4 {
    font-family: $font-clash;
}

//hero
.hero {
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background: $color-background;
    }

    &__logo {
        @media (max-width: 768px) {
            width: 90%;
        }
    }

    &__span {
        font-family: $font-pixel;
        font-size: $p-desktop;
        text-transform: uppercase;
        color: white;
        margin-top: 2rem;
        text-align: center;
    }

    &__background,
    &__batiments {
        width: 100vw;
    }
}

.hero__background,
.hero__batiments {
    width: 100vw;
}

.cross {
    width: 15px;
    height: 15px;
}

//personnages
.personnages {
    background-color: #2C4C87;
    padding-bottom: 4rem;

    &__titre {
        font-family: $font-pixel;
        font-size: 24px;
        margin: 0 50px;
        padding-top: 8px;
    }

    &__texte {
        &-presentation {
            margin: 16px 50px;
        }
    }
}

.personnages1,
.personnages2,
.personnages3,
.personnages4 {
    &__contenu {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 4rem;

        &--image {
            width: 15em;
            height: auto;
        }

        &--texte {
            margin-left: 60px;
            margin-right: 50px;

            &-texte {
                margin: 0 40px;
            }

            &-titre {
                text-align: center;
                color: black;
                font-family: $font-pixel;
                font-size: 18px;
            }
        }
    }
}

.mob__contenu {

    &--bonus,
    &--malus,
    &--boss {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-image {
            width: 25em;
            height: auto;
            margin-top: 2em;
        }

        &-texte {
            margin: 0 40px;
            margin-top: 1em;
        }
    }
}

.image {
    &__ctn {
        overflow: hidden;
        width: 100%;
        height: 100px;
    }

    &__background {
        width: 100%;
        height: auto;
        position: relative;
        z-index: -10000;

        &--img {
            position: relative;
            width: 100%;
            top: 7px
        }
    }

    &__titre {
        position: relative;
        display: flex;
        align-items: center;
        width: 200%;
        gap: 2rem;
        overflow: hidden;

        animation: move 10s linear infinite;

        &--titre {
            background-image: url(../assets/images/GRIND.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            height: 100px;
            width: 450px;
        }

        &--croix {
            background-image: url(../assets/images/white-cross.svg);
            width: 80px;
            height: 80px;
            color: white;
            background-repeat: no-repeat;
            background-position: center center;

            animation: rotate 5s linear infinite;
        }
    }
}

.personnages__background {
    position: relative;
    width: 100%;
    z-index: -1000;

    &--img {
        position: relative;
        width: 100%;
        top: -12px
    }
}

.jeu {
    background: linear-gradient(#030914 0%, #1b4085 50%, #4879d4 100%);

    &__etoiles {
        background-image: url(../assets/images/etoile.svg);

        &--titre {
            font-family: $font-pixel;
            font-size: 45 px;
            padding-top: 120px;
            margin-left: 50px;
            text-transform: uppercase;
        }
    }

    &__footer {
        margin-top: 4rem;
        overflow: hidden;

        &--titre {
            margin-left: 50px;
            font-size: 23px;
        }

        &--gris {
            color: #E9EFFA;
            font-weight: bold;
            opacity: 0.6;
            margin-left: 50px;
        }

        &--credits {
            margin-left: 50px;
        }

        &--img {
            position: relative;
            display: flex;
            align-items: center;
            width: 200%;
            height: fit-content;
            gap: 2rem;

            animation: move 10s linear infinite;

            &--titre {
                background-image: url(../assets/images/GRIND_vide.svg);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
                height: fit-content;
                width: 600px;
                padding-bottom: 60px;

            }

            &--croix {
                background-image: url(../assets/images/croix_vide.svg);
                width: 200px;
                height: 50px;
                color: white;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
                animation: rotate 5s linear infinite;
            }
        }
    }
}

.jeu__etoiles .hero__cta {
    margin-left: 50px;
    width: 4em;
}

@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}