// Values Variables
$outline-width: 6px;
$shadow-width: 4px;

// Color Variables
$color-background: linear-gradient(180deg, #030914 -22.26%, #1B4085 39.45%, #4879D4 98.23%);
$color-buttons: rgb(49, 83, 144);
$color-hover: rgb(27, 69, 146);
$color-shadow-hover: rgb(16, 43, 92);
$color-shadow: rgb(27, 47, 83);
$border-color: rgb(24, 40, 70);

// Font Variables
$font-pixel: 'Minecraft', sans-serif;

// Font Sizes
$p-desktop: 1.5rem;